<ion-header>
    <ion-toolbar text-center color="primary">
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title style="font-size:13px;">
            <p>
            {{shiptoGeneral}} - {{nShipto}}
            </p>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="enviarEventos()">
                <ion-icon slot="icon-only" name="send"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar text-center color="primary" style="--min-height:30px">
        <ion-segment [(ngModel)]="segment">
            <ion-segment-button checked value="recojo" (click)="selectedTab(0)">
                <ion-label>Recojo</ion-label>
            </ion-segment-button>
            <ion-segment-button value="viaje" (click)="selectedTab(1)">
                <ion-label>Viaje</ion-label>
            </ion-segment-button>
            <ion-segment-button value="entrega" (click)="selectedTab(2)">
                <ion-label>Entrega</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen padding>

    <ion-slides [options]="sliderOptions" #slider (ionSlideWillChange)="moveButton()">
        <ion-slide style="display:flex;">
            <ion-grid>
                    <ion-row *ngFor="let event of eventsRecojo">
                        <ion-item (click)="confirmRecojo(event)" lines="none">
                            <ion-label>{{event.name}}
                                <ng-container *ngIf="event.latitude != ''">
                                    <p style="font-size:11px;color:gray;">Ubicación:{{event.latitude}},{{event.longitude}}</p>
                                </ng-container>
                            </ion-label>
                            <ion-icon [ngClass]="{es01: event.status=='1', es02: event.status=='2'}" slot="start"
                                name="checkmark-circle"></ion-icon>
                        </ion-item>
                    </ion-row>              
            </ion-grid>
        </ion-slide>
        <ion-slide style="display:flex;">
            <ion-grid>
                    <ion-row *ngFor="let event of eventsTravel">
                        <!-- ng-container *ngIf="event.TYPE == 'S'" -->
                        <ion-item lines="none">
                            <ion-label>{{event.name}}
                                <ng-container *ngIf="event.latitude != ''">
                                    <p style="font-size:11px;color:gray;">Ubicación:{{event.latitude}},{{event.longitude}}</p>
                                </ng-container>
                            </ion-label>
                            <ion-icon [ngClass]="{es01: event.status=='1', es02: event.status=='2'}" slot="start"
                                name="checkmark-circle"></ion-icon>   
                        </ion-item>
                    </ion-row>
                    
            </ion-grid>
        </ion-slide>
        <ion-slide style="display:flex;">
            <ion-grid>
                    <ion-row *ngFor="let event of eventsEntrega">
                        <ion-item (click)="confirmEntrega(event)" lines="none">
                            <ion-label>{{event.name}}
                                <ng-container *ngIf="event.latitude != ''">
                                    <p style="font-size:11px;color:gray;">Ubicación:{{event.latitude}},{{event.longitude}}</p>
                                </ng-container>
                            </ion-label>
                            <ion-icon [ngClass]="{es01: event.status=='1', es02: event.status=='2'}" slot="start"
                                name="checkmark-circle" ></ion-icon>
                        </ion-item>
                    </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
    <ng-container *ngIf="shiptoStatus === '1'">
        <ion-fab *ngIf="page=='1'? true:false" vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button (click)="newEvent()">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ng-container>

</ion-content>