.es01{
  color: red;
  max-height: 20px;
}
.es02{
  color: green;
  max-height: 60px;
}

ion-slides { 
  min-height: 85vh;
}
ion-list{
  padding: 0%;
}
.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
  height: auto;
}
.my-custom-alert .alert-wrapper {
  min-width: 95vw !important;
}
.ion-title {
  font-size: 30px;
}
.flex-container {
    align-self: flex-start;
}

.tabButton{
  width: 30vw;
}

p{
    height: auto; 
    word-break: normal;
    word-wrap: normal; 
    white-space: normal;
}