<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" style="width: 40px;">
      <ion-menu-button (click)="closemenu()"></ion-menu-button>     
    </ion-buttons>
    <ion-searchbar placeholder="Buscar .."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <ng-container *ngIf="ots.length > 0">
    <ion-item-sliding *ngFor="let item of ots">
      <ion-item (click)="openInfo(item)" lines="none">
        <ion-row align-items-center style="width:100%">
          <ion-col size="3" text-center>
            <ng-container *ngIf="item.STATUS == '1'">
            <img src="../assets/icon/icons-truck-open.png" style="width:36px;height:36px;"/>
            </ng-container>
            <ng-container *ngIf="item.STATUS == '2'">
              <img src="../assets/icon/icons-truck-close.png" style="width:36px;height:36px;"/>
            </ng-container>
            <ng-container *ngIf="item.DISTANCE != undefined">
            <ion-label>
              <p class="normal">{{item.DISTANCE}} KM</p>
            </ion-label>
            </ng-container>
          </ion-col>
          <ion-col size="9">
            <ion-label>
              <p class="impInfo"><b>{{item.CODE}}</b></p>
              <ion-row align-items-center>
                <ion-col size="11" style="padding:0px; margin:0px">
                  <p class="normalBold"><b>{{item.SHIPTO}}-{{item.NSHIPTO}}</b></p>
                  <p class="normal">{{item.ADDRESS}}</p>
                  <p class="normal">Recojo: {{item.DATEINI}}</p>
                  <p class="normal">Arribo: &nbsp;{{item.DATEFIN}}</p>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-icon slot="end" color="medium" name="arrow-forward"></ion-icon>
      </ion-item>
      <ion-item-options side="start">
        <ion-grid style="background-color:#244d9d;">
          <ion-row style="width:20%;height:50%;">
            <ion-col size="11" style="padding:0px; margin:0px">
              <ion-item-option (click)="openPoints(item)">
                <ion-icon name="map" slot="icon-only"></ion-icon>
                <ion-label>Mapa</ion-label>
              </ion-item-option>
            </ion-col>
          </ion-row>
          <ion-row style="width:20%;height:50%;">
            <ion-col style="padding:0px; margin:0px">
              <ion-item-option (click)="otinformation(item)" >
                <ion-icon name="information-circle" slot="icon-only"></ion-icon>
                <ion-label>Info</ion-label>
              </ion-item-option>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-item-options>
    </ion-item-sliding>
    </ng-container>
  </ion-list>
</ion-content>