.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

page-home {
    .larger {
        font-size: 200px;
    }
}

.normal{
  font-size: 12px;
  color: gray;
  word-break: normal;
  word-wrap: normal; 
  white-space: normal;
}
.normalBold{
  font-size: 12px;
  font-weight: bold;
  word-break: normal;
  word-wrap: normal; 
  white-space: normal;
}
.impInfo{
  font-size: 14px;
  font-weight: bold;
  color:black;
}

ion-item {
  border-bottom: 1px solid black !important;
  --border-color: black;
  
}