<ion-list>  
  <ion-item (click)="sync()" lines="none">
    <ion-label>Sincronizar</ion-label>
    <ion-icon slot="start" name="sync"></ion-icon>
  </ion-item>
  <ion-item (click)="enviarEventos()" lines="none">
    <ion-label>Enviar eventos</ion-label>
    <ion-icon slot="start" name="send" ></ion-icon>
  </ion-item>
</ion-list>