<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size:12px; color: white;">
      <p>
        {{shiptoCode}}-{{nshipto}}
      </p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--   <ion-list>

    <ion-item>
      <ion-label floating>Destination</ion-label>
      <ion-input type="text" [(ngModel)]="Destination"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="calculateAndDisplayRoute()">Get Direction</ion-button>
 -->
  <div id="map"></div>

</ion-content>