<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size:14px">Carnet de Identificación</ion-title>
  </ion-toolbar>
</ion-header>
<!--This is the view for the user information-->
<ion-content fullscreen>
  <div *ngIf="usuario != undefined">
    <ion-list>
      <ion-row>
        <ion-col text-center>
          <ng-container *ngIf="qrimage!= undefined">
          <img [src]="qrimage">
          </ng-container>
        </ion-col>
      </ion-row>
      <ion-item  lines="none">
        <ion-avatar slot="start">
          <img src="assets/icon/icons-group.png">
        </ion-avatar>
        <ion-label>
          <h3><b>Proveedor</b></h3>
          <p>{{usuario.PROVIDER}}</p>
        </ion-label>
      </ion-item>
      <ion-item  lines="none">
        <ion-avatar slot="start">
          <img src="assets/icon/icon-person.png">
        </ion-avatar>
        <ion-label>
          <h3><b>Nombre y Apellidos</b></h3>
          <p>{{usuario.FULLNAME}}</p>
        </ion-label>
      </ion-item>
      <ion-item  lines="none">
        <ion-avatar slot="start">
          <img src="assets/icon/icon-driver-licence.png">
        </ion-avatar>
        <ion-label>
          <h3><b>Licencia</b></h3>
          <p>{{usuario.LICENSE}}</p>
        </ion-label>
      </ion-item>
      <ion-item  lines="none">
        <ion-avatar slot="start">
          <img src="assets/icon/icon-document.png">
        </ion-avatar>
        <ion-label>
          <h3><b>Documento</b></h3>
          <p>{{usuario.DOCUMENT}}</p>
        </ion-label>
      </ion-item>
      
      <ion-item  lines="none">
        <ion-avatar slot="start">
          <img src="assets/icon/icons-truck.png">
        </ion-avatar>
        <ion-label>
          <h3><b>Vehículo</b></h3>
          <p>{{usuario.VEHICLE}}-{{usuario.TRACT}}-{{usuario.TUMBRIL}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>