 ion-content{
     height: 500px;
 }

 img{
     width: 500px;
     height: 500px;
 }

 ion-fab-button{
     position: relative;
     margin-right: 90vh;
 }

 inputForObservation{
     height: 300;
     width: 90vw;
 }