<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Vista Previa</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="cop != undefined">
    <img [src]="cop" alt="Image" />
  </ng-container>
  <ng-container *ngIf="cop2 != undefined">
    <img [src]="cop2" alt="Image" />
  </ng-container>
  <ion-input [(ngModel)]="inputForObservation" placeholder="Observación" class="inputForObservation" name="inputForObservation"></ion-input>
  <ion-button expand="block" (click)="enviarphoto()">Enviar</ion-button>


</ion-content>