<ion-content padding>

  <form #form="ngForm" (ngSubmit)="onLogin(form)" method="post">

    <div text-center class="ini">
      <img src="/assets/img/logo_tmp.png"/>
    </div>
    <ion-item style="--border-color :#1f6bc4;padding-top: 5vh;">
      <ion-label position="floating">Licencia</ion-label>
      <ion-input [(ngModel)]="license" type="text" name="license" required="true"></ion-input>
    </ion-item>

    <ion-item style="--border-color :#1f6bc4;">
      <ion-label position="floating">Placa</ion-label>
      <ion-input [(ngModel)]="plate" type="text" name="plate" required="true"></ion-input>
    </ion-item>
    
    <div text-center class="but">
      <ion-button center type="submit" shape="round" color="primary">Iniciar Sesión</ion-button>
    </div>

  </form>

</ion-content>