ion-content {
  --background: none;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.783), rgba(255, 255, 255, 0.646)), url('/assets/img/bg_login.jpeg') !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

ion-item{
  --ion-background-color:none;
}
.titulo{
  font-size: 60px;
  font-weight: bold;
  font-family: monospace; 
  color:#244d9d;
}

ion-label{
  font-size: 25px;
}

.ini{
  padding-top: 10vh;
}
.but{
  padding-top: 5vh;
}
