<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Puntos OT
    </ion-title>
  </ion-toolbar>
  <ion-toolbar text-center color="secondary" style="--min-height:30px">
    <ion-title>0T-122323123213</ion-title>
  </ion-toolbar>
  <ion-toolbar style="--min-height:30px; --padding-start:3px; --padding-end:3px;">
    <ion-icon color="primary" slot="start" name="pin"></ion-icon>
    <ion-label slot="start">Punto(s) de Recojo</ion-label>
    <ion-icon color="danger" slot="primary" name="pin"></ion-icon>
    <ion-label  slot="end">Punto(s) de Entrega</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map"></div>
</ion-content>