<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Carnet de Identificación</ion-title>
  </ion-toolbar>
</ion-header>
<!--This is the view for the user information-->
<ion-content fullscreen>
  <div *ngIf="usuario != undefined">

    <ion-list>
      <ion-row>
        <ion-col text-center>
          <img src="http://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=ALMACENES%2FGARITA">
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/icon/account.png">
        </ion-avatar>
        <ion-label>
          <h3><b>Cuenta</b></h3>
          <p>{{usuario["user"]}}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/icon/account-card-details.png">
        </ion-avatar>
        <ion-label>
          <h3><b>Nombre y Apellidos</b></h3>
          <p>{{usuario["fname"]}} {{usuario["lname"]}}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/icon/card-text.png">
        </ion-avatar>
        <ion-label>
          <h3><b>Licencia</b></h3>
          <p>{{usuario["license"]}}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/icon/folder-account.png">
        </ion-avatar>
        <ion-label>
          <h3><b>DNI</b></h3>
          <p>{{usuario["dni"]}}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/icon/contact-mail.png">
        </ion-avatar>
        <ion-label>
          <h3><b>Correo Electrónico</b></h3>
          <p>{{usuario["email"]}}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/icon/car.png">
        </ion-avatar>
        <ion-label>
          <h3><b>Placa</b></h3>
          <p>{{usuario["plate"]}}</p>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>
</ion-content>