.tablebody{
    width: 90%;
    margin: auto;
}
ion-col{
    font-size: 12px;
    border: 1px solid black;
    text-align:center;
    width: 30%;
}

.header {
    background-color: rgb(36,77,157);
    font-size: 13px;
    font-weight: bold;
    color: white;
    width: 30%;
}

ion-card{
    margin: auto;
    width: 90%;
}

p{
    display: block;
    width: 70vw; 
    height: auto; 
    word-break: normal;
    word-wrap: normal; 
    white-space: normal;
}