<ion-header>
  <ion-toolbar text-center color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size:14px">
      <p>
        {{shiptoCode}} - {{nshipto}}
      </p>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br>
  
  <p style="font-size:16px;color:black;font-weight: bold;padding-left: 5vw;">{{code}}</p>
  <br>
  <ion-grid class="tablebody">
    <ion-row>
      <ion-col class="header">
        SKU
      </ion-col>
      <ion-col class="header">
        Peso (tons.)
      </ion-col>
    </ion-row>
    <ng-container *ngFor="let item of otdetail">
      <ion-row>
      <ion-col>
        <b>{{item.MATNR}}</b><br>
        {{item.NMATNR}}
      </ion-col>
      <ion-col>
        {{item.BRGEW}}
      </ion-col>
    </ion-row>
    </ng-container>  
  </ion-grid>
</ion-content>
