<ion-app>
  <ion-split-pane>
    <!--  our side menu  -->
    <ion-menu style="position: absolute!important; margin-top: 60px!important;">      
      <ion-content style="margin-left: 265px!important;">
        <ion-list>
          <ion-item (click)="homeRedirect()" lines="none">
            <img slot="start" src="assets/icon/icons-home.png"/>
            <ion-label>Inicio</ion-label>

          </ion-item>
          <ion-item (click)="profileRedirect()" lines="none">
            <img slot="start" src="assets/icon/icons-profile.png"/>
            <ion-label>Identificación</ion-label>
          </ion-item>
            <ion-item (click)="LeerCode()" lines="none">
              <img slot="start" src="assets/icon/icons-qr-code.png"/>
              <ion-label>Scanear QR</ion-label>
            </ion-item>
          <ion-item (click)="cerrarSesion()" lines="none">
            <img slot="start" src="assets/icon/icons-exit.png"/>
            <ion-label>Cerrar Sesión</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- the main content -->
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>