<ion-header >


  <ion-toolbar color="primary">
    <ion-title>Firma</ion-title>
  
  <ion-buttons slot="start">
    <ion-button (click)="cancel()">
      <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
    </ion-button>
    <ion-label slot="secondary">Cancelar</ion-label>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <signature-pad [options]="signaturePadOptions" id="signatureCanvas"></signature-pad>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="4">
        <ion-button (click)="cancel()">
          Cancelar
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="drawClear()">
          Limpiar
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="drawComplete()">
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>